<div class="col-md-3">
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>WebTexts</h3>
            <p>Správce webových textů</p>
        </div>
        <div class="icon">
            <i class="fas fa-file-alt"></i>
        </div>
        <a n:href="detail, module => webTexts" class="small-box-footer">
            Otevřít <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
