{block content}
    {snippet  tools}
        {if $module}
            {control $module}
        {else}
            <div class="alert alert-warning">Modul nebyl specifikován.</div>
        {/if}
    {/snippet}
{/block}
