homepage:
	hello: "Ahoj svete!"
	simple: "Jednoduchy preklad"
	placeholder: "Preklad s placeholderom: %x%"
	plural: "Plural - %count% jablko.|Plural - %count% jablka.|Plural - %count% jabek."
dashboard:
	totalRecords: "Počet úkonů"
	showRecordsTotal: "Celkem přidáno záznamů"
	totalRecordsLast7Day: "Počet úkonů 7 dní"
	showRecordsTotalLast7Day: "Celkem přidáno záznamů za týden"
	workerCount: "Počet zaměstnanců"
	showRecordsWorkerCount: "Celkový počet registrovaných zaměstnanců"
	serviceCount: "Počet servisů"
	showRecordsServiceCount: "Celkový počet registrovaných servisů"
	serviceActualCredit: "Aktulní kredit"
	serviceActualCreditText: "Váš aktuální kredit"
	myCompany: "Moje Společnost"
	userData: "Údaje uživatele"
	companyData: "Údaje společnosti"
	companyBillingData: "Fakturační údaje"
	myWrokers: "Pracovníci"
	workerName: "Jméno"
	workerSurname: "Přijmení"
	workerPhone: "Tel"
	workerEmail: "E-mail"
	myAccount: "Můj účet"
	showTotalInvoiceSum: "celkem faktury tento měsíc -  paušál"
	totalInvoiceSum: "Faktury celkem"
	showTotalInvoiceSumBasic: "celkem faktury tento měsíc - zakladní"
	totalInvoiceSumBasic: "Faktury celkem"
	showTotalCreditSum: "celkem utracene kredity tento měsíc"
	totalCreditSum: "Kredity celkem"
	showTotalNewServices: "Celkem nových servisů za tento měsíc"
	totalNewServices: "Celkem servisů"
	showTotalNewUsers: "Celkem nových uživatelů za tento měsíc"
	totalNewUsers: "Celkem uživatelů"
	showTotalRecords: "Celkem přidaných záznamů tento měsíc"
	showTotalRecords7Day: "Celkem přidaných záznamů za týden"
	totalRecords7Day: "Cekem záznamů"
	waitUserList: "Nové účty ke schválení"
	waitCompanyList: "Společnosti ke schválení"
	waitBillingList: "Fakturační adresy ke schválení"
	accountHasBeenConfirmed: "Účet byl aktivován"
	dataHasBeenSaved: "Data byly uložena"
	serviceList: "Výpis servisů"
	workerList: "Výpis zaměstnanců"
	confirmEmailSent: "email byl odeslán na Vaší adresu"

system:
	fullScreen: "FullScreen"
	MessageHasBeenSent: "Zpráva byla odeslána"
	AccountType: "Typ čtu"
	AccountType_1: "Základní"
	AccountType_2: "Paušál"
	AccountType_3: "Kredit"
	Credit: "Kredit"
	AddCredit: "vložit kredit"
	CreditHasBeenAdded: "Kredit byl připsán"
	ChargePeriod: "Fakturační období"
	ChargePeriod_1: "měsíčně"
	ChargePeriod_2: "čtvrtletně"
	ChargePeriod_3: "ročne"
	ChargeAmount: "Fakturační částka"
	InvoicePid: "Nadřazený servis"
	OtherBillingAddress: "Faktuační adresa"
	Name: "Jméno"
	Email: "E-mail"
	Phone: "Telefon"
	Message: "Zpráva"
	Send: "Zpráva"
	MessageRequired: "Položka je povinná"
	EmailRequired: "Položka je povinná"
	NameRequired: "Položka je povinná"
	CarUpdatedSuccess: "Data byla aktualizována"
	DataHasBeenSaved: "Data byla aktualizována"
	CarTransferError: "Nastala chyba"
	DataSaveError: "Nastala chyba"
	CarUpdatedError: "Nastala chyba"
	chooseService: "Výběr aktivního servisu"
	chooseServiceOption: "vyberte servis"
	chooseCar: "Výběr aktivního vozu"
	chooseCarOption: "vyberte aktivní vůz"
	NotificationStartDate: "Začátek události"
	NotificationExpiration: "Konec události"
	NotificationHeadline: "Titulek"
	NotificationMessage: "Zpráva"
	NotificationUrl: "Url"
	AddNotification: "Založit notifikaci"

menu:
	welcome: "Vítejte"
	home: "Úvod"
	about: "FAQ"
	dashboard: "Přehled"
	setting: "Nastavení"
	lookup: "Číselník"
	invoice: "Faktury"
	service: "Servis"
	billing: "Fakturace"
	SearchInvoice: "Faktury vyhledávání"
	serviceHistoryList: "Servisní záznamy"
	stk: "Stk a emise"
	repairs: "Následující opravy"
	notes: "Mé poznáky"
	Notification: "Reklamni plocha"
nav:
	credit: "Kredit"
	logout: "Odhlasit se"
	profile: "Profil"
	help: "Nápověda"


sign:
	userName: "Uživatelské jméno"
	userPassword: "Přístupové Heslo"
	userNameRequired: "Uživatelské jméno je povinné"
	userPasswordRequired: "Uživatelské heslo je povinné"
	userNameTooltip: "Zadejte vaše přihlašovací jméno"
	userPasswordTooltip: "Zadejte vaše přihlašovací heslo"
	loginPageTitle: "Přihlásit se"
	registerPageTitle: "Registrace"
	loginButton: "Přihlásit se"
	lostPassword: "Zapomenuté heslo"
	newInSite: "Jste zde poprvé?"
	newServiceInSite: "Jste servis nebo provozovatel servisu?"
	createAccount: "Založit účet"
	createServiceAccount: "Založit účet servisu"
	wrongLogin: "Nepodařilo se Vás přihlásit"
	wrongLoginTitle: "Chyba"
	successLogin: "Vítejte, %userName%"
register:
	userPasswordRepeat: "Kontrola hesla"
	disabled: "Zrušen"
	userName: "Uživatelské jméno"
	userNameRequired: "Vyberte vaše přihlašovací jméno"
	userPassword: "Heslo"
	userPasswordRequired: "Heslo je povinné"
	userPasswordConfirm: "Kontrola hesla"
	userPasswordConfirmRequired: "Kontrola hesla je povinná"
	name: "Jméno"
	nameRequired: "Jméno je povinné"
	surname: "Přijmení"
	surnameRequired: "Příjmení je povinné"
	email: "E-mail"
	emailRequired: "Zadejte váš e-mail"
	phone: "Telefón / Mobil"
	phoneRequired: "Telefón je povinný"
	finish: "Dokončit"
	next: "Pokračovat"
	previous: "Zpět"
	role: "Role"
	userNameTooltip: "Zadejte přihlašovací jméno do systému"
	userPasswordTooltip: "Vaše přihlašovací heslo"
	nameTooltip: "Vaše křestní jméno"
	surnameTooltip :"Vaše přijmení"
	emailTooltip: "E-mail pro komunikaci"
	phoneTooltip: "Telefón / mobil pro komunikaci"
	loading: "nahrávám"
	header: "Registrace do systému"
	subheader: "ebcar.cz"
	textTop: "Registrační formulář"
	step1: "Přihlášení"
	step1Description: "Přihlašovací údaje"
	step2: "Váš servis"
	step2Description: "Údaje o servisu"
	step3: "Vaše společnost"
	step3Description: "Zákaladní údaje"
	wrongRegisterTitle: "Chyba"
	registerErrorGlobal: "ve formuláři jsou chybné položky"
	serviceName: "Název servisu"
	serviceNameRequired: "Název servisu je povinný"
	serviceStreet: "Ulice"
	serviceStreetRequired: "Ulice je povinná"
	serviceCity: "Město"
	serviceCityRequired: "Město je povinné"
	serviceZip: "Psč"
	serviceZipRequired: "Psč je povinné"
	serviceNameTooltip: "Zde vyplňte název servisu"
	serviceStreetTooltip: "Zde vyplňte ulici servisu"
	serviceCityTooltip: "Zde vyplňte město servisu"
	serviceZipTooltip: "Zde vyplňte psč servisu xxx xx"
	serviceGlobalError: "Nepodařilo se založit servis. Kontaktuje prosím podporu"
	billingStreetRequired: "Ulice je povinná"
	billingStreet: "Ulice"
	billingStreetTooltip: "Zadejte ulici společnosti"
	billingCityRequired: "Město je povinné"
	billingCity: "Město"
	billingCityTooltip: "Zadejte město společnosti"
	billingZipRequired: "PSČ je povinné"
	billingZip: "PSČ"
	billingZipTooltip: "Zadejte PSČ společnosti"
	billingCountryRequired: "Stát je povinný"
	billingCompany: "Společnost"
	billingCompanyTooltip: "Zadejte název společnosti"
	billingIco: "IČO"
	billingIcoTooltip: "IČO společnosti"
	billingDic: "DIČ"
	billingDicTooltip: "DIČ společnosti"
	billingVat: "Jste plátce DPH?"
	billingVatPayer: "Plátce DPH"
	billingVatPayerYes: "Ano"
	billingVatPayerNo: "Ne"
	billingVatPayooltip: "Zaškrtněte pokud jste plátce DPH"
	finishText: "Vaše registrace je kompletní. Váš účet bude plně aktivní po kontrole. Aktivace bude provedena do 24 hodin."
	finishTextButton: "Nyní můžete pokračovat zde"

validate:
	userPasswordRepeat: "Hesla nejsou stejná zadejte hesla znovu!"
	notApprovalEdit: "Nemáte opravnění editovat tento záznam"
	email: "Zadejte platný email"
	phone: "Telefoní číslo %phone% není validní"
	nameExist: "Uživatelské jméno %name% je již registrováno"
	emailExist: "Email %email% je již registrován"
	serviceExist: "Servis %name% je již registrován"
	passwordMinLength: "Heslo musí mít alespoň %d znak|Heslo musí mít alespoň %d znaky|Heslo musí mít alespoň %d znaků"
	noSpaces: "Mezera není povolena"
	word: "Více slov není povoleno"
	zipFormat: "Zadejte psč ve formatu xxx xx"
	unexceptedError: "Během ukládání došlo k chybě. Kontaktuje prosím podporu."
	lowCredit: "Nedostatek kreditu. Prosím dobijte si kredit!"
	required: "Položka je povinná"
	WrongPidServiceSetting: "Chybně vybrán rodičovský servis. Vyberte servis který má nastaven paušál a nebo zadejete měsíční částku"

service:
	serviceSaved: 'Záznam byl uložen'
	addRecordTitle: 'Založení záznamu'
	addRecord: 'Přidat záznam'
	carTitle: 'Vůz'
	userTitle: 'Majitel'
	serviceTitle: 'Servisní úkony'
	serviceLastList: 'Poslední záznamy'
	owner: 'Majitel'
	userAdded: "Pracovník byl přidán"
	addWorker: "Přidat pracovníka"
	assignServices: "Přiřadit k servisům"
	maintab:
		basic: "Vozidlo"
		service: "Servis"
	tab:
		lastService: 'Poslední servis'
		basicService: 'Základní servis'
		regularService: 'PRAVIDELNY SERVIS'
		nexRegularService: 'Následující pravidelný servis'
		nexRegularOil: 'Olej'
		brakingSystem: 'BRZDOVÝ SYSTÉM'
		chassisParts: 'PODVOZKOVÉ ČÁSTI'
		airConditioning: 'KLIMATIZACE'
		body: 'KAROSERIE'
		otherService: 'OSTATNÍ SERVIS'
		regularServiceFilters: "Výměna filtrů"
		regularServiceOther: "Jiné"
		regularServiceOtherDynamic: "Další pravidelný servis dle výrobce"
		regularServiceCheck: "Pravidelná kontrola vozu"
		regularServiceOilCheck: "Výměna oleje včetně olejového filtru"
		regularServiceFiltersOption: "Výměna oleje včetně olejového filtru"
		regularServiceOil: "SAE číslo"
		regularServiceOilSpec: "Specifikace"
		regularServiceFiltersTypes: "Vyměna filtrů"
		regularServiceLiquid: "Výměna provozních kapalin"
		regularServiceBreakLiquid: "Brzdová kapalina"
		regularServiceFieldSpecification: "Specifikace"
		regularServiceServoLiquid: "Kapalina servořízení"
		regularServiceFreezerLiquid: "Chladící kapalina"
		regularServiceGearboxLiquid: "Výměna oleje v převodovce, diferenciálu"
		regularServiceBreakFilter: "Výměna hydraulického filtru"
		regularServiceOilAutomat: "Výměna oleje v automatické převodovce"
		regularServiceOilManual: "Výměna oleje v manuální převodovce"
		regularServiceOilHaldex: "Výměna oleje v haldex spojce"
		regularServiceOilDifferential: "Výměna oleje v diferenciálu"
		regularServiceOilDivorce: "Výměna oleje v rozvodovce"
		regularServiceOilOther: "Výměna oleje jiné"
		regularServiceDivorceSet: "Výměna rozvodové sady"
		regularServiceDivorceSetIncludePupmp: "Rozvodové sady včetně vodní pumpy"
		regularServiceDivorceSetOnly: "Rozvodové sady"
		regularServiceDivorceSetBelt: "Rozvodového řemene"
		regularServiceDivorceSetChain: "Sady rozvodového řetězu"
		regularServiceDivorceSetChainOnly: "Rozvodového řetězu"
		regularServiceDivorceSetChainNext: "Příští výměna rozvodového řemenu / řetězu za:"

		regularWedgeChainSet: "Výměna drážkového/klínového řemene"
		regularGrooveChain: "Výměna drážkového řemen"
		regularWedgeChain: "Výměna klínového řemene"
		lastStkService: "Poslední STK"
		stkService: "STK"
		stk: "STK"
		emission: "Emise"
		lastEmission: "Poslední Emise"
		lastLpg: " Poslední LPG / CNG"
		lpg: "LPG / CNG"
		brakingSystemService: "Brzdový systém"
		breakFrontSet: "Přední brzdy"
		breakRearSet: "Zadní brzdy"
		otherBreakSet: "Ostatní části brzdového systému"
		frontBreakLiquidSpecification: "Specifikace"
		frontRightBreakCaliperVariant: "PP brzdový třmen"
		frontLeftBreakCaliperVariant: "LP brzdový třmen"
		frontBreakPads: "Výměna brzdových destiček"
		frontBreakDisc: "Výměna brzdových kotoučů"
		frontBreakLiquid: "Výměna brzdové kapailny"
		frontRightBreakCaliper: "PP brzdový třmen"
		frontLeftBreakCaliper: "LP brzdový třmen"
		rearBreakLiquidSpecification: "Specifikace"
		rearRightBreakCaliperVariant: "PP brzdový třmen"
		rearLeftBreakCaliperVariant: "LP brzdový třmen"
		rearBreakPads: "Výměna brzdových destiček"
		rearBreakDisc: "Výměna brzdových kotoučů"
		rearBreakLiquid: "Výměna brzdové kapailny"
		rearRightBreakCaliper: "PP brzdový třmen"
		rearLeftBreakCaliper: "LP brzdový třmen"
		frontRightBreakPipe: "PP brzdová hadice"
		frontLeftBreakPipe: "PL brzdová hadice"
		rearRightBreakPipe: "PZ brzdová hadice"
		rearLeftBreakPipe: "LZ brzdová hadice"

		breakPipe: "Brzdové trubky"
		mainBreakCylinder: "Hlavní brzdový válec"
		slaveBreakCylinder: "Pomocný brzdový válec"
		abs: "ABS"
		otherBreakAll: "Ostatní"

		airService: "Klimatizace"
		airMediumSet: "Doplnění média klimatizace"
		airMediumA: "Medium R134A"
		airMediumAText: "Doplněno gramů"
		airMediumB: "Medium R1234YF"
		airMediumBText: "Doplněno gramů"
		airMediumC: "Medium R12"
		airMediumCText: "Doplněno gramů"

		airCabinFilter: "Výměna kabinového filtru"
		airAllergyFilter: "Antialergenní filtr"
		airCarbonFilter: "S Aktivním uhlím filtr"
		airClassicFilter: "Klasický filtr"

		airDesinfectionSet: "Dezinfekce klimatizace"
		airDesinfectionOzone: "Dezinfekce ozónem"
		airDesinfectionSpray: "Dezinfekce sprejem"
		airDesinfectionOther: "Ostatní"

		airRepaiSet: "Oprava klimatizace"
		airRepairCompressor: "Výměna klimakompresoru"
		airRepairFreezer: "Výměna kondenzátoru / chladiče klimatizace"
		airRepairDryer: "Výměna vysoušeče klimatizace"
		airRepase: "Repase klimakompresoru"
		airRepaseText: ""
		airPipe: "Výměna trubky klimatizace"
		airPipeText: ""
		airOtherSet: "Ostatní"

		chassisPartsService: "Podvozek a výfuk"
		chassieFrontAxle: "Přední náprava"

		chassieFrontRightWheel: "PP kolo"
		chassieFrontRightWheelText: ""
		chassieFrontRightSpigot: "Výměna čepu řízení"
		chassieFrontRightSpigotText: ""
		chassieFrontRightAxe: "Výměna ramene"
		chassieFrontRightAxeText: ""
		chassieFrontRightAxeSilenblock: "Výměna silentbloku ramene"
		chassieFrontRightAxeSilenblockText: ""
		chassieFrontRightAxeSpigot: "Výměna čepu ramene"
		chassieFrontRightAxeSpigotText: ""
		chassieFrontRightAxeStabilizerRod: "Výměna tyčky stabilizátoru"
		chassieFrontRightAxeStabilizerRodText: ""
		chassieFrontRightAxeShockAbsorber: "Výměna tlumiče pérování"
		chassieFrontRightAxeShockAbsorberText: ""
		chassieFrontRightAxeShockAbsorberMounting: "Výměna horního uložení tlumiče"
		chassieFrontRightAxeShockAbsorberMountingText: ""
		chassieFrontRightSusspensionSpringReplacement: "Výměna pružiny pérování"
		chassieFrontRightSusspensionSpringReplacementText: ""
		chassieFrontRightAxeOther: "Ostatní"

		chassieFrontLeftWheel: "LP kolo"
		chassieFrontLeftWheelText: ""
		chassieFrontLeftSpigot: "Výměna čepu řízení"
		chassieFrontLeftSpigotText: ""
		chassieFrontLeftAxe: "Výměna ramene"
		chassieFrontLeftAxeText: ""
		chassieFrontLeftAxeSilenblock: "Výměna silentbloku ramene"
		chassieFrontLeftAxeSilenblockText: ""
		chassieFrontLeftAxeSpigot: "Výměna čepu ramene"
		chassieFrontLeftAxeSpigotText: ""
		chassieFrontLeftAxeStabilizerRod: "Výměna tyčky stabilizátoru"
		chassieFrontLeftAxeStabilizerRodText: ""
		chassieFrontLeftAxeShockAbsorber: "Výměna tlumiče pérování"
		chassieFrontLeftAxeShockAbsorberText: ""
		chassieFrontLeftAxeShockAbsorberMounting: "Výměna horního uložení tlumiče"
		chassieFrontLeftAxeShockAbsorberMountingText: ""
		chassieFrontLeftSusspensionSpringReplacement: "Výměna pružiny pérování"
		chassieFrontLeftSusspensionSpringReplacementText: ""
		chassieFrontLeftAxeOther: "Ostatní"
		
		
		chassieRearAxle: "Zadní náprava"

		chassieRearRightWheel: "PZ kolo"
		chassieRearRightWheelText: ""
		chassieRearRightAxe: "Výměna ramene"
		chassieRearRightAxeText: ""
		chassieRearRightAxeSilenblock: "Výměna silentbloku ramene"
		chassieRearRightAxeSilenblockText: ""
		chassieRearRightAxeSpigot: "Výměna čepu ramene"
		chassieRearRightAxeSpigotText: ""
		chassieRearRightAxeStabilizerRod: "Výměna tyčky stabilizátoru"
		chassieRearRightAxeStabilizerRodText: ""
		chassieRearRightAxeShockAbsorber: "Výměna tlumiče pérování"
		chassieRearRightAxeShockAbsorberText: ""
		chassieRearRightAxeShockAbsorberMounting: "Výměna horního uložení tlumiče"
		chassieRearRightAxeShockAbsorberMountingText: ""
		chassieRearRightSusspensionSpringReplacement: "Výměna pružiny pérování"
		chassieRearRightSusspensionSpringReplacementText: ""
		chassieRearRightAxeOther: "Ostatní"
				
		chassieRearLeftWheel: "LZ kolo"
		chassieRearLeftWheelText: ""
		chassieRearLeftAxe: "Výměna ramene"
		chassieRearLeftAxeText: ""
		chassieRearLeftAxeSilenblock: "Výměna silentbloku ramene"
		chassieRearLeftAxeSilenblockText: ""
		chassieRearLeftAxeSpigot: "Výměna čepu ramene"
		chassieRearLeftAxeSpigotText: ""
		chassieRearLeftAxeStabilizerRod: "Výměna tyčky stabilizátoru"
		chassieRearLeftAxeStabilizerRodText: ""
		chassieRearLeftAxeShockAbsorber: "Výměna tlumiče pérování"
		chassieRearLeftAxeShockAbsorberText: ""
		chassieRearLeftAxeShockAbsorberMounting: "Výměna horního uložení tlumiče"
		chassieRearLeftAxeShockAbsorberMountingText: ""
		chassieRearLeftSusspensionSpringReplacement: "Výměna pružiny pérování"
		chassieRearLeftSusspensionSpringReplacementText: ""
		chassieRearLeftAxeOther: "Ostatní"

		chassieGeometry: "Geometrie"
		chassieGeometryFrontWheel: "Seřízení přední nápravy"
		chassieGeometryRearWheel: "Seřízení zadní nápravy"
		chassieGeometryOther: "Ostatní"

		chassieExhaust: "Výfukový systém"
		chassieExhaustFrontReplacement: "Výměna předního dílu výfuku"
		chassieExhaustMiddlePartReplacement: "Výměna středního dílu výfuku"
		chassieExhaustRearReplacement: "Výměna zadního dílu výfuku"
		chassieExhaustCatalystReplacement: "Výměna katalyzátoru"
		chassieExhaustReplacingDpf: "Výměna DPF filtru"
		chassieExhaustCleaningDpf: "Čištění DPF filtru"
		chassieExhaustAdditiveDpf: "Doplnění aditiva pro DPF filtr"
		chassieExhaustDiagDpf: "Diag. Regenrace DPF filtru"
		chassieExhaustReplacingFlexiblePart: "Výměna pružného dílu (vlnovce)"
		chassieExhaustOther: "Ostatní"

		bodyPartsService: "Karoserie"
		bodyPartWiper: "Výměna stěračů skel"
		bodyPartWiperFront: "Přední stěrače výměna"
		bodyPartWiperRear: "Zadní stěrač výměna"
		bodyPartFrontGlass: "Výměna čelního skla"
		bodyPartFrontGlassText: ""
		bodyPartBodyWork: "Poškození karoserie - oprava"
		bodyPartPainting: "Lakování"
		bodyPartBodyWorkReplacement: "Výměna dílu karoserie"
		bodyPartBodyWorkRepair: "Oprava dílu karoserie"
		bodyPartInterierReplacement: "Výměny dílů v interiéru vozidla"
		bodyPartBodyOther: "Ostatní"
		nextService: "Příští servisní prohlídka za:"
		nextDistance: "KM"
		nextOther: "Jiné"
		nextInterval: "Období"
		nextOtherType: "Typ"
		nextChange: "Příští vynena:"



car:
	vin: "VIN"
	spz: "RZ vozidla"
	brand: "Značka"
	model: "Model"
	motorization: "Motorizace"
	carPowerKw: "Výkon v kW"
	buildYear: "Rok výroby"
	color: "Barva"
	actualTravelDistance: "počet Km"
	gearBox: "Převodovka"
	gearboxAuto: "Automatická"
	gearboxManual: "Manualní"
	motorCode: "Kód motoru"
	motorCodeTooltip: "Kód motoru zapsaný v TP"
	carWeight: "Hmotnost"
	towingHitch: "Tažné zařízení"
	towingHitchYes: "Ano"
	towingHitchNo: "No"
	addRow: "+"
	remove: "X"
	vinRequired: "VIN je povinný"
	vinTooltip: "Zadejte VIN vozidla"
	spzRequired: "RZ vozidla je povinná"
	spzTooltip: "Zadejte RZ vozidl"
	brandRequired: "Značka vozidla je povinná"
	motorizationTooltip: "Motorizace vozidla např. 1.9 tdi"
	modelRequired: "Model je povinný"
	modelTooltip: Model vozidla např Vectra M5 atd.."
	motorizationRequired: "Motorizace je povinná"
	carPowerKwRequired: "Vykon vozu je povinný"
	carPowerKwTooltip: "Zadejte výkon vozidla v KW"
	buildYearRequire: "Rok výroby je povinný"
	buildYearTooltip: "Zadejte rok výroby vozidla"
	actualTravel: "Aktuální počet km"
	actualTravelDistanceMin: "Aktuální počet km musí být vyšši nežli poslední známá hodnota"
	actualTravelDistanceRequire: "Aktuální počet najetých Km je povinný"
	actualTravelDistanceTooltip: "Zadejte aktuální stav tachometru"
	colorTooltip: "Barva vozidla udaná v TP"
	carWeightTooltip: "Hmotnost vozilda udaná v TP"
	userNameRequire: "Uživatelsé jméno je povinné"
	userName: "Uživatelské jméno"
	userNameTooltip: "Přihlašovací jméno zákazníka"
	userPasswordRequire: "Heslo je povinné"
	userPassword: "Heslo"
	userPasswordTooltip: "Přihlašovací heslo"
	nameRequire: "Jméno je povinné"
	name: "Jméno"
	nameTooltip: "Jméno zákazníka"
	surnameRequire: "Přijmení je povinné"
	surname: "Přijmení"
	surnameTooltip: "Přijmení zákazníka"
	emailRequire: "E-Mail je povinný"
	email: "E-mail"
	emailTooltip: "Komunikační email pro např. aktivacei účtu. Neslouží pro marketingové učely"
	phoneRequire: "Telefon je povinný"
	phone: "Telefon / Mobil"
	phoneTooltip: "Slouží ke komunikaci se zákazníkem např ověření údaju.."
	serviceFilterCabin: "Kabinový filtr"
	serviceFilterAir: "Vzduchový filtr"
	serviceFilterFuel: "Palivový filtr"
	buttonResetUser: "Změnit majitele vozu"
	buttonReset: "Zrušit"
	continue: "Pokračovat"
	save: "Uložit"
	fuel: Palivo
	alternateFuel: "Alternativní palivo"
	bodyType: Karoserie
	tachometr: "Najete Km"
	date: "Datum"
	nextStk: "Datum příští STK"
	nextEmission: "Datum příští kontroly emisí"
	nextLpg: "Datum příští kontroly Lpg / CNG"
	nextServiceDistance: "Příští servisní kontrola při KM"
	nextServiceDate: "Datum příští servisní kontroly "
	nextOilChangeDistance: "Výměna oleje při KM"
	nextOilChangeData: "Datum výměny oleje"
	actualOilType: "Typ oleje"
	actualOilName: "Značka oleje"
	nextFreezChangeDate: "Datum příští výměny chladící kapaliny"
	freezSpecification: "Typ chladící kapaliny"
	nextBreakLiquidChangeDate: "Datum příští výměny brzdové kapaliny"
	breakLiquidSpecification: "Typ brzdové kapaliny"
	note: "Poznámka"
	noteRequired: "Poznámka je povinná"


frontend:
	subjectCarHash: "registrace [ebcar.cz]"
	HashResent: "Konfirmační email byl odeslán"

user:
	LastImporatantDates: "Důležitá data"
	MyCarData: "Data Vozidla"
	LastService: "Poslední servis"
	DashBoard: "Přehled"
	Stk: "Stk"
	Emission: "Emise"
	Lpg: "Lpg / CNG"
	NextService: "Následující pravidelný servis"
	FreezLiquid: "Chladící kapalina"
	OilLiquid: "Olej"
	BreakLiquid: "Brzdová kapalina"
	NoRecords: "Aktualně nemáte žádné zaznamy"
	transferCar: "Převést vozidlo"
	editCar: "Upravit"
	detail: "Detail"
	addImportantDates: "Zadat údaje"
	CarNotes: "Poznámky k vozu"
	CarNotesList: "Výpis poznámek"
	Faq: "Faq"
	MyAccount: "Můj profil"
	editAccount: "Upravit účet"
serviceLog:
	headline: "Servisní záznamy"
	service: "Servis"
	travelDistance: "Najeté Km:"
	date: "datum"
upcomingServiceLog:
	headline: "Nasledující opravy"
	date: "Datum"
	distance: "Km"
	distanceRemain: "zbývá KM"
	specification: "specifikace"
contactForm:
	ContactForm: "Kontaktní formulář"
	Success: "Zpráva byla odeslána"
	Error: "Chyba"
	Send: "Odeslat"
	ErrorText: "Bohužel došlo k chybě"
	FormText: "Pokud máte dotaz, zašlete nám zprávu. Odpovíme Vám co nejdříve"
resetPassword:
	emailTooltip: "Zadejte email pod kterým je registrován Váš účet!"
	sendError:  "Požadavek na změnu hesla se nepodařilo provést!"
	sendSuccess:  "Pokračujte dle instrukcí v mailu"
	resetSuccess:  "Heslo bylo uspěšně aktualizováno můžete se přihlásit"
notification:
	notificationCenterTitle: "Centrum zpráv"
	notificationTitle: "Reklamní sdělení"
	maxPrice: " Aktualně maximální cena %amount% Kč"
	start: "Začátek"
	end: "Konec"
	headline: "Titulek"
	viewed: "Počet zobrazení"
	amount: "Častka k zaplacení"
	action: "Akce"
	cancell: "Deaktivovat"
	seeAll: "Zobrzit všechny notifikace"
	linkMore: "Zobrazit více"
invoice:
	invoiceTitle: "Fakturace"
	invoiceNumber: "Číslo faktury"
	dateIssue: "Datum vystavení"
	dateDue: "Datum splatnosti"
	billName: "Fakturovano na"
	status: "Stav"
	amount: "Částka"
	action: "Akce"
	stateNoData: "Bez položek k fakturaci"
	statePreview: "Náhled"
	stateIssued: "Vystavená"
	stateSent: "Vystavená a Odeslána na email"
	stateCancelled: "Zrušená"
	statePaid: "Zaplacená"
	aterDueDate: "PO SPLATNOSTI"
	creditLogTitle: "Historie položek"
	creditLogDate: "Datum"
	creditLogService: "Servis"
	creditLogType: "Opercace"
	creditLogAmount: "Částka"
	creditLogSource: "Zdroj"
	creditLogSourceCar: "Zapis vozu"
	creditLogSourceSystem: "System"
	creditLogTypeAdd: " plus "
	creditLogTypeSubract: " minus "
	carLogTitle: "Log zápisu vozů "
	carLogDate: "Datum "
	carLogService: "Servis "
	carLogCar: "Vůz "
	carLogCustomer: "Zákazník "
	carLogAmount: "Částka "
	invoiceDetailTitle: "Faktura"
	supplier: "Dodavatel"
	subscriber: "Odběratel"
	invoiceOrdeNumber: "Číslo objednávky"
	dueDate: "Datum splatnosti"
	vatNumber: "DIČ"
	accountNumber: "Číslo účtu"
	description: "Popis"
	subtotal: "Suma"
	paymentMethods: "Platební metody"
	paymentMethodsBankTransfer: "Převodem na účet %accountNumber%/%bankCode%"
	totalNoVat: "Celkem bez DPH"
	vat: "DPH"
	totalWithVat: "Celkem s DPH"
	print: "Tisk"
	issuedDate: "Datum vystavení"
lookup:
	Item: "Položka"
	editFormText: "Zadejte nový text položky"
	deleteFormText: "Zrusení / nahrazení položky"
	Success: "Položka byla upravena"
	Error: "Nepovedlo se položku upravit"
	EditFormTitle: "Uprava položky"
	lookupListTitl: "Číselník"
	Substitute: "Nahradit položku za"