# SKP Global Configuration

extensions:
	modules: App\DI\ModulesExtension

parameters:
	domain: skp.cz
	storageDir: %appDir%/../storage
	tempDir: %tempDir%
	# Paths or other global parameters like in ebcar

application:
	errorPresenter: Front:Error:Error4xx
	mapping:
		*: App\*Module\Presenters\*Presenter

decorator:
	App\Model\Base\AMapper:
		inject: yes

session:
	expiration: 14 days

latte:
	strictParsing: yes

services:
	router: App\RouterFactory::createRouter(@connection, @App\Model\System\Cache)

	# MAPPERS
	- App\Model\Page\SpecParamPageMapper
	- App\Model\Component\ComponentMapper
	- App\Model\Element\ElementMapper
	- App\Model\Version\VersionMapper
	- App\Model\Page\PageMapper
	- App\Model\Lookup\LookupMapper
	- App\Model\Presentation\PresentationMapper
	- App\Model\Presentation\SpecParamMapper
	- App\Model\Presentation\ComponentActionMapper
	- App\Model\Config\ConfigMapper
	- App\Model\Template\TemplateMapper
	- App\Model\Template\CodeNameMapper
	- App\Model\Install\InstallMapper
	- App\Model\Log\LogMapper
	- App\Model\Admin\AdminMapper
	- App\Model\AdminGroup\AdminGroupMapper
	- App\Model\Object\ObjectMapper
	- App\Model\PageGroup\PageGroupMapper
	- App\Model\AdminRight\AdminRightMapper
	- App\Model\AdminGroupRight\AdminGroupRightMapper
	- App\Model\Module\ModuleMapper
	- App\Model\ModulePermission\ModulePermissionMapper
	- App\Model\ModuleGroupRight\ModuleGroupRightMapper
	- App\Model\ModuleRight\ModuleRightMapper
	- App\Model\FileManager\FileManagerMapper

	# DAO
	- App\Model\Page\SpecParamPageDao
	- App\Model\Component\ComponentDao
	- App\Model\Element\ElementDao
	- App\Model\Version\VersionDao
	- App\Model\Page\PageDao
	- App\Model\Lookup\LookupDao
	- App\Model\Presentation\PresentationDao
	- App\Model\Presentation\SpecParamDao
	- App\Model\Presentation\ComponentActionDao
	- App\Model\Config\ConfigDao
	- App\Model\Template\TemplateDao
	- App\Model\Template\CodeNameDao
	- App\Model\Install\InstallDao
	- App\Model\Log\LogDao
	- App\Model\Admin\AdminDao
	- App\Model\AdminGroup\AdminGroupDao
	- App\Model\Object\ObjectDao
	- App\Model\PageGroup\PageGroupDao
	- App\Model\AdminRight\AdminRightDao
	- App\Model\AdminGroupRight\AdminGroupRightDao
	- App\Model\Module\ModuleDao
	- App\Model\ModulePermission\ModulePermissionDao
	- App\Model\ModuleGroupRight\ModuleGroupRightDao
	- App\Model\ModuleRight\ModuleRightDao
	- App\Model\FileManager\FileManagerDao

	# AUTH
	user: App\Model\Admin\User
	authenticator:
		class: App\Model\Admin\SystemAuthenticator
		setup:
			- addAuthenticator(admin, App\Model\Admin\AdminAuthenticator(@connection))

	# ENTITIES (as services for global access)
	- App\Model\Admin\LoggedUserEntity

	# SERVICE
	- App\Model\Helper\FrontObjectControlFactory
	- App\Model\Helper\ObjectControlFactory
	- App\Model\Page\SpecParamPageService
	- App\Model\Component\ComponentService
	- App\Model\Element\ElementService
	- App\Model\Version\VersionService
	- App\Model\System\Cache
	- App\Model\System\ModelEventManager
	- App\Model\Login\LoginService
	- App\Model\Page\PageService
	- App\Model\Lookup\LookupService
	- App\Model\Presentation\PresentationService
	- App\Model\Config\ConfigService
	- App\Model\Template\TemplateService
	- App\Model\Install\InstallService
	- App\Model\Install\InstallManager
	- App\Model\Log\LogService
	- App\Model\Admin\AdminService
	- App\Model\AdminGroup\AdminGroupService
	- App\Model\Object\ObjectService
	- App\Model\PageGroup\PageGroupService
	- App\Model\AdminRight\AdminRightService
	- App\Model\AdminGroupRight\AdminGroupRightService
	- App\Model\Module\ModuleService
	- App\Model\ModulePermission\ModulePermissionService
	- App\Model\ModuleGroupRight\ModuleGroupRightService
	- App\Model\ModuleRight\ModuleRightService
	- App\Model\FileManager\FileManagerService(%storageDir%, %tempDir%)

	# FACADE
	- App\Model\System\FrontendRunner
	- App\Model\Page\PageFacade
	- App\Model\Component\ComponentFacade
	- App\Model\Element\ElementFacade
	- App\Model\Version\VersionFacade
	- App\Model\Lookup\LookupFacade
	- App\Model\Login\LoginFacade(
		@user,
		@App\Model\Login\LoginService,
		@App\Model\Log\LogService,
		@App\Model\Admin\AdminService,
		@App\Model\AdminGroup\AdminGroupService,
		@App\Model\AdminGroupRight\AdminGroupRightService,
		@App\Model\Presentation\PresentationService,
		@App\Model\PageGroup\PageGroupService,
		@App\Model\Module\ModuleService,
		@App\Model\System\Cache
	)
	- App\Model\Presentation\PresentationFacade
	- App\Model\Config\ConfigFacade
	- App\Model\Template\TemplateFacade
	- App\Model\Install\InstallFacade
	- App\Model\Log\LogFacade
	- App\Model\Admin\AdminFacade
	- App\Model\AdminGroup\AdminGroupFacade
	- App\Model\Object\ObjectFacade
	- App\Model\PageGroup\PageGroupFacade
	- App\Model\AdminRight\AdminRightFacade
	- App\Model\Module\ModuleFacade
	- App\Model\ModulePermission\ModulePermissionFacade
	- App\Model\ModuleGroupRight\ModuleGroupRightFacade
	- App\Model\ModuleRight\ModuleRightFacade
	- App\Model\FileManager\FileManagerFacade

	# Register other ebcar-like services here
