# SKP Local Configuration

parameters:
	domain: skp.dev
	database:
		host: localhost
		username: root
		password: ""
		database: skp
		driver: mysqli

services:
	connection:
		class: Dibi\Connection
		arguments: [%database%]
		autowired: yes
