# SKP Local Configuration

parameters:
	domain: skp.dev
	database:
		host: localhost
		username: root
		password: ""
		database: skp
		driver: mysqli
mail:
    # zapne/vypne SMTP (pokud je false, používá se mail() funkce v PHP)
    smtp: true

    # adresa SMTP serveru
    host: smtp.websupport.cz

    # port (nejčastěji 465 pro SSL nebo 587 pro TLS)
    port: 465

    # zabezpečení (ssl, tls nebo null)
    secure: ssl

    # přihlašovací údaje
    username: 'skp@krajinapolabi.cz'
    password: 't0f:{Si)pP?Vhs}G4I|Y'
	
services:
	connection:
		class: Dibi\Connection
		arguments: [%database%]
		autowired: yes


