{snippet forms_dataDetail}
<div class="row">
    <div class="col-12">
        <div class="card card-outline card-info">
            <div class="card-header">
                <h3 class="card-title">Detail odeslaného formuláře #{$item->getId()} ({$item->getFormName()})</h3>
                <div class="card-tools">
                    <a n:href="list!" class="btn btn-sm btn-secondary ajax"><i class="fas fa-arrow-left"></i> Zpět na seznam</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Základní informace</h5>
                        <table class="table table-sm table-bordered">
                            <tr>
                                <th style="width: 150px">ID</th>
                                <td>{$item->getId()}</td>
                            </tr>
                            <tr>
                                <th>Název formuláře</th>
                                <td>{$item->getFormName()}</td>
                            </tr>
                            <tr>
                                <th>Datum odeslání</th>
                                <td>{$item->getCreatedDt('d.m.Y H:i:s')}</td>
                            </tr>
                            <tr>
                                <th>IP adresa</th>
                                <td>{$item->getIpAddress()}</td>
                            </tr>
                            <tr>
                                <th>Stav</th>
                                <td>
                                    {if $item->getStatus() == 1}
                                        <span class="badge badge-info">Nové</span>
                                    {elseif $item->getStatus() == 2}
                                        <span class="badge badge-success">Vyřízeno</span>
                                    {else}
                                        <span class="badge badge-secondary">Archivováno</span>
                                    {/if}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <h5>Odeslaná data</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Pole</th>
                                        <th>Hodnota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {var $data = $item->getData()}
                                    {if is_array($data) || is_object($data)}
                                        <tr n:foreach="$data as $key => $value">
                                            <th style="width: 200px">{$key}</th>
                                            <td>
                                                {if is_array($value) || is_object($value)}
                                                    <pre style="font-size: 0.8rem">{$value|json}</pre>
                                                {else}
                                                    {$value}
                                                {/if}
                                            </td>
                                        </tr>
                                    {else}
                                        <tr>
                                            <td colspan="2" class="text-muted">Žádná strukturovaná data nebyla nalezena.</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><pre>{$item->data}</pre></td>
                                        </tr>
                                    {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                 <a n:if="$loggedUserEntity->hasModuleRight('forms_data','delete')" n:href="delete!, id => $item->getId()" class="btn btn-sm btn-danger ajax" onclick="return confirm('Opravdu smazat tento záznam?')"><i class="fas fa-trash"></i> Smazat záznam</a>
            </div>
        </div>
    </div>
</div>
{/snippet}
